<div id="<%= dom_id writing %>">
  <p>
    <strong>Title:</strong>
    <%= writing.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= writing.content %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= writing.genre %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= writing.category %>
  </p>

  <p>
    <strong>User:</strong>
    <%= writing.user.name %>
  </p>

</div>
